body {
  background: #222;
}
.wrapper {
  max-width: 500px;
  padding: 50px;
  color: aliceblue;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.horse__result {
  transition: all 0.2s ease 0s;
  background: #333;
  border-radius: 5px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 5fr;
  width: 100%;
  cursor: pointer;
}
.horse__result_finish {
  transition: all 0.2s ease 0s;
  background: #555;
  border-radius: 5px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 5fr;
  width: 100%;
  cursor: pointer;
}
.horse__result:hover {
  background: #666;
}
.result__container {
  width: 100%;
}
.result__tabl {
  width: 100%;
}
.result__tabl > *:not(:last-child) {
  margin-bottom: 5px;
}
.result__box {
  transition: all 0.2s ease 0s;
  background: #333;
  border-radius: 5px;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  cursor: pointer;
}
.result__box:hover {
  background: #666;
}